<div class="maintenance">
  <section class="motto">
    <img
      src="/assets/images/logo_original.svg"
      width="260px"
      height="130px"
      alt="anthillsolutions" />
    <p class="motto">
      towards
      <span>solutions</span>
      together
    </p>
  </section>

  <section class="description">
    Solving web solutions for anyone anywhere
  </section>

  <footer>
    anthill<span>solutions</span> © 2022 •
    <a href="mailto:pierre@anthillsolutions.fr">contact</a>
  </footer>
</div>
