@use '../../assets/styles/colors' as colors;
@use '../../assets/styles/variables' as variables;

section,
footer {
  color: colors.$anthill-silver;
}

.motto {
  font-size: variables.$font-large;

  span {
    font-weight: 400;
  }
}

.maintenance {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto auto;

  .motto {
    align-self: center;
    text-align: center;

    img {
      margin-bottom: 1rem;
    }
  }

  .description {
    height: 5rem;
    background: linear-gradient(90deg, colors.$anthill-very-light 50%, colors.$anthill-semi-light 100%);
    margin-bottom: 5rem;
    text-align: center;
    display: grid;
    align-items: center;
    padding: 1rem;
  }

  footer {
    text-align: center;
    font-size: variables.$font-small;
    padding: 1rem;

    span {
      font-weight: 400;
    }
  }
}

@media (min-width: 768px) {
  .maintenance {
    .motto {
      width: 40rem;
      text-align: center;

      img {
        width: 520px;
        height: 260px;
      }
    }

    .description {
      margin-bottom: 10rem;
      padding: 2rem;
    }

    footer {
      padding: 2rem;
    }
  }
}
