$anthill-blue: #006AB3;
$anthill-darkblue: #04426B;
$anthill-gold: #FFCF19;
$anthill-dark: #222222;
$anthill-silver: #666666;
$anthill-semi-light: #cccccc;
$anthill-light: #dddddd;
$anthill-very-light: #eeeeee;
$anthill-white: #ffffff;

